In [ ]:
#to get the first detected number

l=[1,2,3,4,3,2,5]
seen =[]
for i in l:
  if i in seen:
    print(i)
    break
  seen.append(i)

3

In [ ]:
s= {6,7,8,1,2,3,4,3,2,1,6,7,8,9}
s

{1, 2, 3, 4, 6, 7, 8, 9}

In [ ]:
# set
- non repreated data/ only unique items
- order can be different
- sets are mmutable - we can add or remove value after creation


- time notation is resolved from N to 1 in set ... 1 means the time taken is always constant
- as the memory location is defined already in which the set stores data

In [ ]:
1 in s  #o(1)

True

In [ ]:
dir(s)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
a={1,2,3,2,1,4}
b={3,4,5,6,3,4}

a.add(45)  # same as append
#a.update(b)  # adds each elements from an iterable

# if you put string there , they go as characcters


#a.union(b)
#a.intersection(b)
#a.difference(b)

#a-b
# a + b  not ppossible to concatenate this way

c={9,2.5,'ram',True,False}
c

{2.5, 9, False, True, 'ram'}

In [ ]:
d= set({})   # empty set is made this way .. {} just this makes a dictionary
d.add(4)
d

{4}

In [ ]:
e={1,2,3,4,{5,6,7}}  # not posssible to add set,list inside set ,, set is is changable so it is unhashable

# but tupple can be added .. immutbale/hashable
e

TypeError: unhashable type: 'set'

In [ ]:
#BITWISE OPERATORS


a=1
b=6
a | b   #bitwise OR

7

In [ ]:
a=1
b=4
a & b

0

In [ ]:
int("11",2)   # 11 base is et 2 , so it is is converted to decimal int

3

In [ ]:
a={1,2,3,2,1,4}
b={3,4,5,6,3,4}

print(a&b)
print(a|b)

# bitwise operators can be also applied to sets

{3, 4}
{1, 2, 3, 4, 5, 6}

In [ ]:
f={1,2,3,4,(4,5,6)}
f

{(4, 5, 6), 1, 2, 3, 4}

In [ ]:
# HASHABLE ??