In [ ]:
print(""hello"")  # terminates after two " " , use single to put the doubles inside

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2625643717.py, line 1)

In [ ]:
print("""i am human""")

i am human

In [ ]:
"i am""this"

'i amthis'

In [ ]:
a= [
    "ram"
    "hari",
    "sita"
]
a

['ramhari', 'sita']

In [ ]:
"""I am ram " # first triple quote is expecting another triple cquote ,it doesnt find it so error

SyntaxError: incomplete input (ipython-input-2571319991.py, line 1)

In [ ]:
"I am ram""" # the first single wuote findfs another single quote and string ends there , and other 2 considdered as empty string

'I am ram'

In [ ]:
print("\"hi i am human\"") # putting the \ above any character tells the compiler not to treat it as normal character

"hi i am human"

In [ ]:
# The list of all students' names from :
data = {
'class': 'Grade 5',
'students': [
{'name': 'Alice', 'subjects': {'math': 85, 'science': 92}},
{'name': 'Bob', 'subjects': {'math': 78, 'science': 88}},
{'name': 'Charlie', 'subjects': {'math': 95, 'science': 89}}
],
'teacher': {'name': 'Mrs. Smith', 'subject': 'science'}
}


[student for student in data["students"]]  # makes a list of objs in std of dictionary

[{'name': 'Alice', 'subjects': {'math': 85, 'science': 92}},
 {'name': 'Bob', 'subjects': {'math': 78, 'science': 88}},
 {'name': 'Charlie', 'subjects': {'math': 95, 'science': 89}}]

In [ ]:
[student['name'] for student in data["students"]]   # list comprehension

['Alice', 'Bob', 'Charlie']

In [ ]:
{student['name'] : student['subjects'] for student in data["students"]}    #making a dictionary

# dictionary comprehrension

{'Alice': {'math': 85, 'science': 92},
 'Bob': {'math': 78, 'science': 88},
 'Charlie': {'math': 95, 'science': 89}}

In [ ]:
(student['name'] for student in data["students"])

In [ ]:
reversed([1,2,3])

In [ ]:
# <generator object ??? what are they
# how to manually create them ???

#list,dict comprehension
# lazy initialization??

In [ ]:
# list of even numbers

even =[ x for x in range(10) if x%2==0]
even

[0, 2, 4, 6, 8]

In [ ]:
a= [ (x,y) for x in range(5) for y in range(5) if x>y ]
a

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [ ]:
# ex 4 qn 12


# Write a list comprehension to create a list of squares for numbers from 1 to 10.
# 13. Use a list comprehension to create a list of even numbers from the list numbers = [1, 2, 3, 4, 5, 6,
# 7, 8, 9, 10].
# 14. Write a dictionary comprehension to create a dictionary where the keys are numbers from 1 to 5
# and the values are the cubes of the keys.
# 15. Use a set comprehension to create a set of unique vowels from the string sentence =
# "comprehensions are powerful".
# 16. Given a dictionary students = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 63}, write a dictionary
# comprehension to create a new dictionary with students who scored above 80.

In [ ]:
# 12 i

sqr= [i*i for i in range(1,10) ]
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
#13
even=[ i for i in range(10) if i%2==0]
even

[0, 2, 4, 6, 8]

In [3]:
#14
{ i :i*i*i for i in range(1,6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [10]:
#15
vowel=( x for x in "comprehensions are powerful" if x in ('a','e','i','o','u'))
print(set(vowel))

 # without the typecasting , it was creating a generator obj,
#and we cant print it directly , there are separate ftns to print a generator obj
# so first we convert it to set and then print it

{'u', 'o', 'a', 'e', 'i'}

In [36]:
# 16. Given a dictionary students = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 63}, write a dictionary
# comprehension to create a new dictionary with students who scored above 80.

students = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 63}


passed = { i:j for i,j in students.items() if j>80 }
print(passed)

{'Alice': 85, 'Charlie': 92}

In [37]:
for keys,values in students.items():
  print(keys,values)

Alice 85
Bob 78
Charlie 92
David 63

In [18]:
students = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 63}
dir(students)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [32]:
a=[(1,2),(3,4),(5,6)]

for i,j in a:
  print(j,i)     # does one to one mapping

2 1
4 3
6 5

# create new list of higher or lower by checking next element

In [44]:
# create new list of higher or lower by checking next element

l = [1,2,3,4,5,1,2,3]
neww=[]
for i in range(len(l)-1):
    for j in range(i+1 ,range(len(l))-1):
      if l[j]>l[i]:
        neww.append("higher")
      else:
        neww.append("lower")
print(neww)

TypeError: unsupported operand type(s) for -: 'range' and 'int'

In [ ]:
# raymond hettinger

In [42]:
# enumerate : returns list of tupples having index and values

l = [1,2,3,4,5,1,2,3]
list(enumerate(l))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 1), (6, 2), (7, 3)]

In [43]:
# ternary operators in python

a=  1 if True else 2
a

(first value) if (condition) else (second value)

1

In [45]:
#zip function

zip ( iterable1 , iterable2 , iterable 3 , .. )

it wraps elements from each iterable together , and we can type cast it into anything
a list , tupple or dict

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [46]:
l = [1,2,3,4,5,1,2,3]

new = [ "l" if curr>next else "h"
       for curr,next in zip(l , l[1:])
]
new

['h', 'h', 'h', 'h', 'l', 'h', 'h']

In [50]:
z =zip(l, range(3),range(4))
print(list(z))

[(1, 0, 0), (2, 1, 1), (3, 2, 2)]

In [ ]:
# ( ............)
# some diff examples of enumerate and zip still left ,,, see in the slide

In [52]:
vowels ="aeiou"

numbers=[1,2,3,4,5]


neww=zip(vowels,numbers)
print(dict(neww))

{'a': 1, 'e': 2, 'i': 3, 'o': 4, 'u': 5}

In [ ]:
vowels ="aeiou"

numbers=[1,2,3,4,5]

In [53]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from mapping/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E.keys(): D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [54]:
dict.__doc__  # to see the docstring / documentation

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

file handling

In [ ]:
f= open("std.txt:,w)


f,readlines()
f.close()

In [ ]:
# with
- auto closes file


# pass
#

In [ ]:
# using json data in python - load , save , write