In [4]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv("students_performance.csv")
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [10]:
dd= df.isnull().sum()
dd

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [18]:
df['Absences']=df['Absences'].ffill()
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,1,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,1,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,1,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,1,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,1,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,1,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,1,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,1,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,1,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,1,0,2,0,0,0,1,2.140014,1.0

In [23]:
import numpy as np 
import pandas as pd 
import seaborn as sns 

a= pd.read_csv("universities_ranking.csv")
a.head()

,ranking,title,location,number students,students staff ratio,perc intl students,gender ratio
0,1,University of Oxford,United Kingdom,"20,774",11.1,41%,46 : 54
1,2,Stanford University,United States,"16,223",7.4,23%,44 : 56
2,3,Harvard University,United States,"21,261",9.3,25%,49 : 51
3,4,California Institute of Technology,United States,"2,238",6.3,33%,36 : 64
4,5,Massachusetts Institute of Technology,United States,"11,276",8.4,34%,39 : 61

In [24]:
a.isnull().sum()

ranking                  0
title                    0
location                 0
number students          0
students staff ratio     0
perc intl students       0
gender ratio            73
dtype: int64