In [4]:
# count the occcurance of numbers ina list

a=[1,2,3,1,1,1,2,3,4,2,]
countdic= dict({})
for i in a:
    y=a.count(i)
    countdic.update({i:y})

print(countdic)

{1: 4, 2: 3, 3: 2, 4: 1}

In [8]:
from collections import defaultdict

a=[1,2,3,1,1,1,2,3,4,2]

newdic= defaultdict(int)

for i in a:
    newdic[i] +=1

newdic

defaultdict(int, {1: 4, 2: 3, 3: 2, 4: 1})

In [9]:
from collections import Counter

a=[1,2,3,1,1,1,2,3,4,2]
count =Counter(a)
count

Counter({1: 4, 2: 3, 3: 2, 4: 1})

diff inbuilt functions 
- abs , eval , min ,max

In [ ]:
eval("print(1)") # -> most dangerous thing in python ,,why?

In [ ]:
min([]) # error

In [ ]:
min([], default=0)

In [ ]:
# if a and b and c and d and ....:
     ......

if all([a,b,c]):
    // if all a,b,c are true , then only runs

if any([a,b,c]):
    // if anyb values are true , then runs

In [ ]:
all([])   -> true , why?//

In [ ]:
any([])    -> false ,why?

In [ ]:
# print function is able to take any numbers of args , because it has inbuilt *args


def func(*args, **kwargs ):
    print(args,kwargs)

func(1,2,3,4,a=5,b=6,c=7,d=8)

###Why didnâ€™t it give repeated output?

The key reason: Dictionaries do not allow duplicate keys
Keys must be unique

If you insert the same key again, the old value is overwritten

In [3]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#Functions

In [ ]:
def func_name(arg1,arg2,...):
    processes
    return something

In [10]:
def print_x(x):
    return x

y= print_x(5)

y

5

In [11]:
def pr_char(ch,num):
    print(ch * num)

pr_char("*", 5)

*****

In [13]:
def pr_char(ch,num=10):
    print(ch * num)

pr_char("* ")

* * * * * * * * * *

# first postional parameter then only default parameter , default parameters must come at last

In [14]:
print (1,2,3 , sep='\t')

1	2	3

In [ ]:
def func(a,b,c):
    return a+b+c

In [ ]:
x= func(a=1 , 2,3 )    # -> error , as positonal arg comes before default

In [ ]:
func(1, b=2 , c=3) -> works

In [ ]:

func(1 , b=3 , c=2 , a=1) -> error as two values are being assigned to a , not possible

## TO RETURN MULTIPLE VALUES FROM FTN

In [17]:
def func(a,b,c):
    return a*b, b*c 

x=func(1,2,3)
x

(2, 6)

In [20]:
#display sum and diif of two numbers

def sum_(a,b):
    return a+b ,a-b

x,y = map(int, input("Enter two numbers: ").split())

z=sum_(x,y)

z

Enter two numbers:  1 2

(3, -1)

Write a function square_list(numbers) that takes a list of numbers and returns a new list with the
squares of those numbers using a list comprehension.
2. Write a function get_employee_name(employee_dict, employee_id) that takes a dictionary of
employees (where keys are IDs and values are names) and an employee ID, and returns the name
of the employee with that ID.
3. Write a function filter_high_scores(scores) that takes a dictionary of student scores and returns a
new dictionary with only the students who scored more than 80.
4. Write a function common_elements(set1, set2) that takes two sets and returns their intersection.
5. Write a function lcm(a, b) that takes two integers and returns their least common multiple
6. Write a function is_prime(n) that takes an integer and returns True if it's a prime number and False
otherwise.
7. Write a function sieve_of_eratosthenes(limit) that returns a list of all prime numbers up to a given
limit using the Sieve of Eratosthenes algorithm.

In [ ]:
# EX -5 

#QN 1

In [21]:
def square_list(a):
    b=[i*i for i in a ]
    return b

liss= [1,2,3,4,5]
get_sqr = square_list(liss)

get_sqr

[1, 4, 9, 16, 25]

In [25]:
#qn2

def emp_get(emp_dict,emp_id):
    return emp_dict[emp_id]

emp_dict = { "101A":"ram","102N":"rita","103C":"gita"}

name= emp_get(emp_dict, "102N")

name

'rita'

In [28]:
#qn3 

def high_score(scores):
    new_dict= {i :scores[i] for i in scores if scores[i]>80 }
    return new_dict


scores ={"ram":82 ,"gita":75,"rtia":32,"shyam":98}

new_Score = high_score(scores)

new_Score

{'ram': 82, 'shyam': 98}

In [31]:
#qn 4

def set_op (set1,set2):
    return set1 & set2

set1={1,2,3,4,5}
set2={3,4,5,6,7}

inter= set_op(set1,set2)

inter

{3, 4, 5}

In [ ]:
"""#qn 5         // this code is wrong because this is kind of finding hcf , not lcm

def lcm_(a,b):
    i=2
    while True:
        if a%i==0 and b%i==0:
            break
        i +=1
    return i

a,b = map(int,input("enter 2 nums").split())

l = lcm_(a,b)

l"""

# LCM IS THE LOWEST NUMBER THAT CAN BE DIVIDED BY BOTH A AND B

In [ ]:
# qn 5

def lcm_(a, b):
    i = 2
    while True:
        if i % a == 0 and i % b == 0:   # FIxed: now here the lcm_num is being by a and b
            break
        i += 1
    return i

a, b = map(int, input("enter 2 nums: ").split())

l = lcm_(a, b)

print(l)

In [ ]:
# qn 6

def check_prime(num):
    prime = True

    for i in range(2,num-2):        # if beign from 0 , gives error , if 1 its always not prime 
                                    # , also dont upto that num also, as that  also is divisible
        if num%i == 0:
            prime = False
            break
    return prime
        


n =int(input("enter a number"))

y= check_prime(n)

print(y)

In [ ]:
# qn 7 

def sieve_of_eratosthenes(limit):

In [ ]:
# qn 8


def my_sum(*args):
    sum_=0
    for i in args:
        sum_ += i

    return sum_

y=my_sum(1,2,3,4,5,6,7,8,9)

print(y)